@import "normalize";

$main-color: #000000;
$sec-color: #ffffff;

%nostyle-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.4;
    color: #555;
}

a {
    color: $main-color;
    text-decoration: none;
}

a:hover {
    color: $sec-color;
    text-decoration: underline;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.new-year {
    margin: 0;
    h3 {
        margin: 0;
        padding: 10px;
        color: $sec-color;
        background: $main-color;
        text-align: center;
    }    
}

.menu-top {
    height: 42px; 
    background: $sec-color;

    .container {
        display: flex;
        justify-content: space-between;

        div {
            flex: 0 0 340px;
        }
    }
    h1 {
        margin: 0;
    }
    .menu-top-first ul {
        @extend %nostyle-list;
        display: flex;
        justify-content: flex-start;
        text-align: center;
        li {
            flex: 0 0 100px;      
        }
        a {
            display: block;
            width: 100px;
            height: 42px;
            line-height: 42px;
            color: $main-color;
            text-align: center;
            text-decoration: none;
        }

        a:hover {
            background: lighten($main-color,40);
            color: $sec-color;
        }
    }

    .menu-top-sec {
        ul {
            @extend %nostyle-list;
            display: flex;
            justify-content: flex-end;
            text-align: center;
        }
        li {
            padding: 10px 0;
            flex: 0 0 30px;      
        }
        .shop-car {
            flex: 0 0 80px;
        }
        a:hover {
            color: rgb(58, 116, 202);
        }
    }        
}

.big-img {
    height: 400px;
    background: url(../images/freestocks-org.jpg)center center no-repeat;
    background-size: cover;
    position: relative;

    h2 {
        font-size: 50px;
        color: $sec-color;
        position: absolute;
        margin: 0 0 0 150px;
        left: 10%;
        top: 80px;
        text-shadow: $main-color 0 0 0.2em
    }
}

.hot-sale {
    h1 {
        text-align: center;
    }
    ul {
        @extend %nostyle-list;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
    }
    li {
        margin-bottom: 10px;
        h2{
            margin: 5px 0;
            text-align: center;
        }
        p {
            margin: 10px 0;
            text-align: center;
        }
    }
}

.just-you {
    background: lighten($main-color, 40);
    height: 300px;
    text-align: center;
    h1 {
        margin: 0;
        padding: 40px 0 30px 0;
        color: $sec-color;
        //text-align: center;
    }
    p {
        margin: 0;
        color: $sec-color;
        //text-align: center;
    }
}

.e-paper {
    height: 300px;
    text-align: center;
    h2 {
        margin: 0;
        padding: 40px 0 30px 0;
        color: $main-color;
        //text-align: center;
        span {
            display: block;
            position: relative;
        }
    }
    .search input {
        width: 500px;
        height: 28px;
        border: 2px solid #ddd;
        padding-left: 35px;        
    }

    .search i {
        position: relative;
        left: 35px;
    }
    
    .search input:focus {
        outline: none;
        border-color: $main-color;
        box-shadow: $main-color 0 0 2px;
    }
    a {
        margin: 20px;
        display: inline-block;
        width: 540px;
        height: 28px;
        line-height: 28px;
        color: $sec-color;
        background: $main-color;
        text-align: center;
        text-decoration: none;
        position: relative;
        left: 10px;
    }

    a:hover {
        background: lighten($main-color,40);
        color: $sec-color;
    }
}

.menu-bottom {
    text-align: center;
    height: 60px;
    background: $main-color;
    .container {
        width: 500px;
    }
    ul {
        @extend %nostyle-list;
        display: flex;
        justify-content: space-between;
    }
    a {
        display: inline-block;
        width: 100px;
        height: 60px;
        color: $sec-color;
        line-height: 60px;
        text-align: center;
        text-decoration: none;
    }
    
    a:hover{
        color: $main-color;
        background: lighten($main-color, 40);
        transition-duration: 1s;
    }
}

.foot {
    height: 60px;
    color: $main-color;
    background: lighten($main-color, 40);
    text-align: center;
    p {
        margin: 0;
        line-height: 60px;
    }
}